
<a href="/" class="active">茶学首页</a>
<a href="/culture/">茶学文化</a>
<a href="/茶叶分类/">茶叶分类</a>
<a href="/茶叶产品/">茶叶产品</a>
<a href="/茶市行情售卖/">茶市行情售卖</a>

<style>
         a{
            background-color:rgb(236, 244, 180);/* 导航栏底纹和渐变背景 */
            background-size: auto, cover; /* 底纹自动缩放，渐变背景全屏 */
            background-position: center, center;
            background-repeat: repeat, no-repeat;
            overflow: hidden;
            text-align: center;
            padding: 10px 0;
        }
    a {
            display: inline-block;
            color: #333;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
            transition: background-color 0.3s;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 5px;
            margin: 0 10px;
        }
         a:hover, a.active {
			background: linear-gradient(#f5f5f4, #aee2fd);
            color: #333;
        } 
</style>
